* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

.companyDetails {
  margin-top: 45px;
  width: 80%;
  margin-left: 24px;
  margin-left: 10%;
}

h2 {
  margin-top: 4px;
  margin-left: 12px;
}

.user-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 80%;
  margin-left: 10%;
}

.user-details table {
  border: 1px solid black;
  table-layout: fixed;
}

.user-details table thead {
  background-color: rgb(74, 255, 255);
}

.user-details table tr {
  margin: 4px;
}

.user-details table td {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

#Mydetail {
  font-size: 24px;
  font-weight: 500;
}

#companyName {
  font-weight: 600;
  color: rgb(0, 124, 130);
}
