.view-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.View{
    border: 1px solid black;
    width: 95%;
    margin-top: 10px;
    table-layout: fixed;
}

.View tr td{
    border: 1px solid black;
    padding: 8px;
}

table.View > tbody > tr > td:first-child{
    width: 10%;
    background-color: aqua;
    font-weight: 600;
}